{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          Retraining options for a town planning assistant
        </h1>
      </div>
      </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <article class="">
              <h1 class="govuk-heading-m">
                Mostly online
              </h1>
              <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                  <li class="govuk-breadcrumbs__list-item">
                    Maths
                  </li>
                  <li class="govuk-breadcrumbs__list-item">
                    English
                  </li>
                  <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Leadership
                  </li>
                </ol>
              </div>
              <p><a href="#">See more information</a></p>
            </article>
            <article class="">
              <h1 class="govuk-heading-m">
                Fully online
              </h1>
              <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                  <li class="govuk-breadcrumbs__list-item">
                    Maths
                  </li>
                  <li class="govuk-breadcrumbs__list-item">
                    English
                  </li>
                  <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Leadership
                  </li>
                </ol>
              </div>
              <p><a href="#">See more information</a></p>
            </article>

            <article class="">
              <h1 class="govuk-heading-m">
                Classroom
              </h1>
              <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                  <li class="govuk-breadcrumbs__list-item">
                    Maths
                  </li>
                  <li class="govuk-breadcrumbs__list-item">
                    English
                  </li>
                  <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Leadership
                  </li>
                </ol>
              </div>
              <p><a href="#">See more information</a></p>
            </article>
          </div>
      <div class="govuk-grid-column-one-third">
        <h1 class="govuk-heading-m">
          We recommend you talk through these options
        </h1>
        <ul class="govuk-list">
          <li><p><a href="#">Book a free appointment with a careers advisor</a></p></li>
          <li><p><a href="#">Save this page</a></p></li>
          <li><p><a href="#">Share this page with a friend or family member</a></p></li>
        </ul>
      </div>
      </div>
  </main>
</div>
{% endblock %}
