
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Subsection</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <h1 class="govuk-heading-xl">
      Retraining options for a town planning assistant
    </h1>
  </main>
</div>
{% endblock %}
