{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {%
endblock %} {% block content %}
<main id="main" class="govuk-main-wrapper" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="../results" class="govuk-back-link">Back to results</a>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3 govuk-!-margin-top-6">
        Trainee <span id="title">town planning assistant</span>
      </h1>
      <span id="description" class="govuk-caption-xl govuk-!-margin-bottom-9"
        >Working across a variety of organisations focusing on ensuring
        excellent customer experience</span
      >
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">
            Start immediately and train on the job
          </h2>
          <p class="govuk-body-l">
            Trainees earn £<span class="traineeSalary"
              >{# content in jobs.json #} </span
            >.<br />
            Qualify after 1 year and go up to a salary of £<span class="salary"
              >10,000
            </span>
          </p>
          <a
            href="./routes"
            role="button"
            draggable="false"
            class="govuk-button govuk-!-margin-bottom-9"
            >See training options</a
          >
        </div>
      </div>
      <div class="govuk-grid-row" style="margin-top: 20px;">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">What you’ll do</h2>
          <p id="whatyoulldo" class="govuk-body">
          </p>
          <h3 class="govuk-heading-m">As a trainee you’ll learn:</h3>
          <ul id="whatyoulllearn" class="govuk-list">

          </ul>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span style="width:55px; height: 55px; background-color:red;background:url('./public/images/pound.svg'); background-position: center; background-size:cover; display: flex;"></span>
        </div>
        <div class="govuk-grid-column-three-quarters">
          <h4 class="govuk-heading-s">Salary</h4>
          <hr
            class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
          />

          <ul class="govuk-list">
            <li>
              Trainee £<span class="traineeSalary">
                {# content in jobs.json #}
              </span>
            </li>
            <li>
              After 1 year £<span class="salary">
                {# content in jobs.json #}
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span style="width:55px; height: 55px; background-color:red;background:url('./public/images/time.svg'); background-position: center; background-size:cover; display: flex;"></span>
        </div>
        <div class="govuk-grid-column-three-quarters">
          <h4 class="govuk-heading-s govuk-!-margin-top-5">Typical hours</h4>
          <hr
            class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
          />
          <p class="govuk-body"><span id="hours">{# content in jobs.json #}</span> a week</p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span style="width:55px; height: 55px; background-color:red;background:url('./public/images/cal.svg'); background-position: center; background-size:cover; display: flex;"></span>
        </div>
        <div class="govuk-grid-column-three-quarters">
          <h4 class="govuk-heading-s govuk-!-margin-top-5">You could work</h4>
          <hr
            class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
          />
          <p id="lifestyle" class="govuk-body">{# content in jobs.json #}</p>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <a href="../results" class="govuk-back-link">Back to results</a>
      </div>
    </div>
  </div>
</main>
<script type="text/javascript">
  // Load all content

  // get data from nunjucks
  var data = {{data | dump | safe}};

  // get chosen job from localStorage
  var index = JSON.parse(localStorage.getItem('user'));

  var title = document.getElementById('title');
  title.innerText = data[index].name

  var salaries = document.getElementsByClassName('salary');
  Array.from(salaries).map( salary => {
    salary.innerText = data[index].salary
  })

  var traineeSalaries = document.getElementsByClassName('traineeSalary');
  Array.from(traineeSalaries).map( traineeSalary => {
    traineeSalary.innerText = data[index].traineeSalary
  })

  var hours = document.getElementById('hours');
  hours.innerText = data[index].hours

  var lifestyle = document.getElementById('lifestyle');
  lifestyle.innerText = data[index].lifestyle

  var whatyoulldo = document.getElementById('whatyoulldo');
  whatyoulldo.innerText = data[index].whatyoulldo

  var whatyoulllearn = document.getElementById('whatyoulllearn');
  data[index].whatyoulllearn.map(learning => {
    let list = document.createElement('li');
    list.innerText = learning
    whatyoulllearn.append(list)
  })

</script>
{% endblock %}
