{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {%
endblock %} {% block content %}
<main id="main" class="govuk-main-wrapper" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="../results" class="govuk-back-link">Back to results</a>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3 govuk-!-margin-top-6">
        Leadership level 4</span>
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-body-l">
            Trainees earn £<span class="traineeSalary">{# content in jobs.json #} </span>.<br />
            Qualify after 1 year and go up to a salary of £<span class="salary">10,000
            </span>
          </p>
        </div>
      </div>
    </div>
    </div>

    <div class="govuk-grid-row" style="margin-top: 20px;">
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-l">Flexible</h2>


      </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-l">Blended</h2>


      </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-l">Classroom</h2>


      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <a href="../results" class="govuk-back-link">Back to results</a>
      </div>
    </div>
</main>
<script type="text/javascript">
  // Load all content

  // get data from nunjucks
  var data = {
    {
      data | dump | safe
    }
  };

  // get chosen job from localStorage
  var index = JSON.parse(localStorage.getItem('user'));

  var title = document.getElementById('title');
  title.innerText = data[index].name

  var salaries = document.getElementsByClassName('salary');
  Array.from(salaries).map(salary => {
    salary.innerText = data[index].salary
  })

  var traineeSalaries = document.getElementsByClassName('traineeSalary');
  Array.from(traineeSalaries).map(traineeSalary => {
    traineeSalary.innerText = data[index].traineeSalary
  })

  var whatyoulllearn = document.getElementById('whatyoulllearn');
  data[index].whatyoulllearn.map(learning => {
    let list = document.createElement('li');
    list.innerText = learning
    whatyoulllearn.append(list)
  })
</script>
{% endblock %}
