{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Get help to retrain</h1>


      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Understand yourself
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./skills-start" aria-describedby="eligibility-completed">
                Understand what you're good at
              </a>
              <!-- <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong> -->
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="/results" aria-describedby="read-declaration-completed">
                See jobs you could do
              </a>
              <!-- <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">Completed</strong> -->
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Find training
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./job1/routes" aria-describedby="company-information-completed">
                Find and apply for courses
              </a>
              <!-- <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong> -->
            </li>

          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Your courses will appear here
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./job1/routes" aria-describedby="company-information-completed">
                Find and apply for courses
              </a>
              <!-- <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong> -->
            </li>

          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Find a job
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Apply for jobs
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Prepare for your interview
              </a>
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>

{% endblock %}
